<a href="https://colab.research.google.com/github/PlanetJem/data-analytics-22/blob/notebook/Kezia's_Copy_of_2_2_Intro_to_Python_class_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-2 Intro to Python class notes

Print a message

Must have **''** or **""** within brackets for code to run succcessfully.

In [ ]:
#add text inside the print function
print('hello world!')

hello world!

#TRY IT YOURSELF 
* Store a message in a variable, then print out that message.
* Then change the value of your variable to a new message, and print the new message.

In [ ]:
#this is my message
message = 'Hello world'
message1 = 'hola'

In [ ]:
print(message)
print(message1)

Hello world
hola

In [ ]:
#message2
message2 = 'goodbye'
chicken = 'chicken'
noodle = 'noodle'
soup = 'soup'

In [ ]:
print(message2)
print (chicken)
print (noodle)
print (soup)

goodbye
chicken
noodle
soup

# WORKING WITH STRINGS IN PYTHON

In [ ]:
# using .upper() and .lower() methods

name = 'kezia kent'

print(name.upper())
print(name.lower())
print(name.title())

KEZIA KENT
kezia kent
Kezia Kent

In [ ]:
# Concatenating strings (putting them together)
first_name = 'kezia'
last_name = 'kent'

#use plus signs to concatenate first_name and last_name into a variable called full_name
full_name = first_name + ' ' + last_name

In [ ]:
print(full_name)

kezia kent

In [ ]:
#use \t to add a tab to your name
print('Kezia Kent')
print('\tKezia Kent')

Kezia Kent
	Kezia Kent

In [ ]:
# use \n to add a line break in your name
print('Kezia\nKent')

Kezia
Kent

In [ ]:
#create variable called space and add your name with spaces on the beginning and end

space = '    kezia kent    '

In [ ]:
#.strip() method removes spaces from before and after text

print(space.strip())

kezia kent

In [ ]:
#.rstrip() method removes spaces from the right side of text

print(space.rstrip())

    kezia kent

In [ ]:
#.lstrip() method removes spaces from the left side of text 

print(space.lstrip())

kezia kent

In [ ]:
#but none of these methods change the variable
print(space)

    kezia kent

In [ ]:
# create a new variable to store the clean value

In [ ]:
space_clean = space.strip()

In [ ]:
space_clean

'kezia kent'

## TRY IT YOURSELF 
* Store a person’s name in a variable, and print a message to that person. Your message should be simple, such as, “Hello John, what are you doing after class?”
* Store someone you knows name in a variable called name. Print their name in lower and uppercase.
* Create a string that adds white space using “\t”. Then use the function to strip the white space from your string.

In [ ]:
person = 'Catherine'
message1 = 'Hi Catherine, what is your favorite food?'

In [ ]:
print(message1)

Hi Catherine, what is your favorite food?

In [ ]:
name = 'Louisa'

print(name.upper())
print(name.lower())

LOUISA
louisa

In [ ]:
print('\tChocolate Gumdrops')
space = 'ChocolateGumdrops'
print(space.strip())

	Chocolate Gumdrops
ChocolateGumdrops

###Numbers in Python

In [ ]:
x = 7 # 7 is an integer data type
y = 7.6 # 7.6 is a float (decimal) data type

In [ ]:
print(y + 2)
print(y - 6)
print(y * y)
print(y**2)

9.6
1.5999999999999996
57.76
57.76

In [ ]:
print(x + 2)
print(x - 6)
print(x * x)
print(x**2)

9
1
49
49

##TYPE ERRORS

In [ ]:
age = 40

In [ ]:
message6 = "Today is my birthday. I am " + str(age) + ". Happy birthday to me!"

In [ ]:
print(message6)

Today is my birthday. I am 40. Happy birthday to me!

## Try it yourself


*   Write addition, subtraction, multiplication, and division operations that each result in the number 8.  For example: print(5 + 3)
*   Store your favorite number in a variable.  Then, create a message telling your friend what your favorite number is.

In [ ]:
print (6+2)
print (10-2)

8
8

In [ ]:
print(4*2)
print(16/2)

8
8.0